.navbar-custom {
    background-color: teal;
}

.navbar a{
    color: white;
}

  label{
      width: 4cm;
  }

  ul{
      padding-left: 5cm;
  }

  li{
      width: 5cm;
      color: blueviolet;
  }