.navbar-custom {
    background-color: teal;
}

.navbar a{
    color: white;
}

  label{
      width: 4cm;
  }

  ul{
      padding-left: 5cm;
  }

  li{
      width: 5cm;
      color: blueviolet;
  }

  #field{
      text-align: right;
      color: blue;
  }

  #value{
      text-align: left;
      color: blue;
  }

  .button{
      position: center;
      text-align: center;
      padding-top: 1cm;
      margin-left: 2cm;
  }

  #headers{
      font-family: sans-serif
  }

img{
    height: 2cm;
    width: 4cm;
}

.btn-toolbar{
    padding-left: 13cm;
}